# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
node_modules/
jspm_packages/
.pnpm-store

# Build and Tooling outputs
dist
dist-ssr
.output
out
.next
.nuxt
.cache
.parcel-cache
.temp
.svelte-kit/
**/.vitepress/dist
.docusaurus

# Runtime data and environment
.env
.env.*
!.env.example
*.pid
*.seed
*.pid.lock

# Vite specific
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# TypeScript/Misc
*.tsbuildinfo
.eslintcache
*.tgz